<!DOCTYPE HTML>
<html>

<head>
  <title>Tienda Online</title>
  <link href="/src/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
  <link href="/src/assets/css/style.css" rel='stylesheet' type='text/css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script src="/js/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".dropdown img.flag").addClass("flagvisibility");

      $(".dropdown dt a").click(function () {
        $(".dropdown dd ul").toggle();
      });

      $(".dropdown dd ul li a").click(function () {
        var text = $(this).html();
        $(".dropdown dt a span").html(text);
        $(".dropdown dd ul").hide();
        $("#result").html("Selected value is: " + getSelectedValue("sample"));
      });

      function getSelectedValue(id) {
        return $("#" + id).find("dt a span.value").html();
      }

      $(document).bind('click', function (e) {
        var $clicked = $(e.target);
        if (!$clicked.parents().hasClass("dropdown"))
          $(".dropdown dd ul").hide();
      });


      $("#flagSwitcher").click(function () {
        $(".dropdown img.flag").toggleClass("flagvisibility");
      });
    });
  </script>
</head>

<body>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="header-left">
            <div class="logo">
              <a href="index.html"><img src="images/logo.png" alt="" /></a>
            </div>
            <div class="menu">
              <a class="toggleMenu" href="#"><img src="images/nav.png" alt="" /></a>
              <ul class="nav" id="nav">
                
                <li><a routerLink="/carrito" routerLinkActive="list-item-active">
                   Productos
                </a></li>
                <li><a routerLink="/about" routerLinkActive="list-item-active">
                  Equipo
               </a></li>

                <div class="clear"></div>
                <div>
                  <input type="text" class="form-control" [(ngModel)]='searchTerm' (keyup)="search($event)"
                    placeholder="Buscar Productos">
                </div>
              </ul>
              <script type="text/javascript" src="./js/responsive-nav.js"></script>
            </div>
            <div class="clear"></div>
          </div>
          <div class="header_right">

            <script src="./js/classie.js"></script>
            <script src="./js/uisearch.js"></script>
            <script>
              new UISearch(document.getElementById('sb-search'));
            </script>
            <ul class="icon1 sub-icon1 profile_img">
              <li><a class="active-icon c1" href="#"> </a>
                <ul class="sub-icon1 list">
                  <div class="product_control_buttons">
                    <a href="#"><img src="/images/edit.png" alt="" /></a>
                    <a href="#"><img src="/images/close_edit.png" alt="" /></a>
                  </div>
                  <div class="clear"></div>
                  <li class="list_img"><img src="images/1.jpg" alt="" /></li>
                  
                  <li class="list_desc">
                    <h4><a href="#">velit esse molestie</a></h4><span class="actual">1 x
                      $12.00</span>
                  </li>

                  <div class="login_buttons">
                    <div class="check_button"><a href="checkout.html">Check out</a></div>
                    <div class="login_button"><a href="login.html">Login</a></div>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                </ul>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="main">
    <div class="shop_top">
      <div class="container">
        <div class="row shop_box-top">

          <ng-container *ngFor="let p of data | filter:searchKey: 'tipo' ">
          <div class="col-md-3 shop_box">
            
					<img src="../../../assets/imagenes/logo-removebg-preview (2).png" class="img-responsive" alt=""/>
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
					<div class="shop_desc">
						<h3><a href="#">{{p.tipo}}</a></h3>
						<p>{{p.nombre}}</p>
						<span class="reducedfrom">$66.00</span>
						<span class="actual">${{p.costo}}</span><br>
						<ul class="buttons">
              <button mat-icon-button color="warn">
                <mat-icon (click)="addCarrito(p)" >add_shopping_cart</mat-icon>
              </button>
							<li class="shop_btn"><a href="#">Read More</a></li>
							<div class="clear"> </div>
					    </ul>
				    </div>
          </div>
      </ng-container>


      <div class="container">
        <div class="row">
            <main id="items" class="col-sm-8 row"></main>
            
            <aside class="col-sm-4">
                <h2>Carrito</h2>
                <ul id="carrito" class="list-group"></ul>
                
                <table class="table table-primary table-striped">
                  <thead>
                    <tr>
                      <th>Tipo</th>
                      <th>Costo</th>
                      <th>Nombre</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let p of tablacarrito">
                      <tr>
                        <td>{{p.tipo}}</td>
                        <td>{{p.costo}}</td>
                        <td>{{p.nombre}}</td>
                      </tr>
                    </ng-container>
                  </tbody>
                  
                </table>

                <h3>{{total}}</h3>
          
                
              
                <button id="boton-vaciar" class="btn btn-danger">Comprar</button>
            </aside>
            
        </div>
    </div> 


        </div>
      </div>
    </div>
  </div>



  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="footer_box">
            <h4>Categorías</h4>
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="#">Niño</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="footer_box">
            <h4>Sobre Nosotros</h4>
            <li><a href="#">Proyecto</a></li>
            <li><a href="#">Arquitectura</a></li>
            <li><a href="#">Equipo</a></li>
            <li><a href="#">Apis</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="footer_box">
            <h4>Correo Electrónico</h4>
            <div class="footer_search">
              <form>
                <input type="text" value="Ingresa tu email" onfocus="this.value = '';"
                  onblur="if (this.value == '') {this.value = 'Enter your email';}">
                <input type="submit" value="Ir">
              </form>
            </div>
            <ul class="social">
              <li class="facebook"><a href="#"><span> </span></a></li>
              <li class="twitter"><a href="#"><span> </span></a></li>
              <li class="instagram"><a href="#"><span> </span></a></li>
              <li class="pinterest"><a href="#"><span> </span></a></li>
              <li class="youtube"><a href="#"><span> </span></a></li>
            </ul>

          </ul>
        </div>
      </div>
      <div class="row footer_bottom">
        <div class="copy">
          <p>18-07-2022 <a href="http://w3layouts.com" target="_blank">Proyecto Integrador</a></p>
        </div>
        <dl id="sample" class="dropdown">
        </dl>
      </div>
    </div>
  </div>
</body>

</html>











<!-- 


<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example">
        <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>TIENDA DE ROPA CDCD</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openDialogo()">Agregar</button>
  
  </mat-toolbar>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]='searchTerm' (keyup)="search($event)" placeholder="Buscar Productos">
  </div>
  <span class="fas fa-search seacrh-icon"></span>
  
  <div class="card-top container-fluid">
  
  </div>
  
  
  
    <div class="container" style="width: 50vw;  height: 50vw ">
      <div class="row">
        <table *ngFor="let p of data | filter:searchKey: 'tipo' ">
          <div class="card col-md-5">
            <img style="margin: auto ;" src="{{p.imagen}}" alt="" >        
          </div >
          <div >
            <h2 >{{p.nombre}}</h2>
            <h3>US$ {{p.costo}}</h3>
            <a>Talla: {{p.talla}}</a>
            
          </div>
          <div>
            <input type="number" name="q" min="1" max="10" step="1" value="2"> 
            <button mat-icon-button color="warn">
              <mat-icon (click)="addCarrito()" >add_shopping_cart</mat-icon>
            </button>  
          </div>
        </table>
      </div>
    </div>


    <div class="container">
      <div class="row">
          <main id="items" class="col-sm-8 row"></main>
          
          <aside class="col-sm-4">
              <h2>Carrito</h2>
              <ul id="carrito" class="list-group"></ul>
              <hr>
          
              <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
          </aside>
      </div>
  </div>  
  
    -->