<h1 mat-dialog-title style="color: black"> Agregar Ropa</h1>
<div mat-dialog-content>

    <form [formGroup]="ropaForm">
        <mat-form-field appearance="outline">
            <mat-label>Tipo de Prenda</mat-label>
            <mat-select formControlName="tipo" placeholder="Tipo">
                <mat-option value="Pantalon">Pantalon</mat-option>
                <mat-option value="Camiseta">Camiseta</mat-option>
                <mat-option value="Buso">Buso</mat-option>
                <mat-option value="Pantaloneta">Pantaloneta</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Marca de Prenda</mat-label>
            <input formControlName="marca" matInput placeholder="Placeholder">
        </mat-form-field>
    
    
        <mat-form-field appearance="outline">
            <mat-label>Nombre de la Prenda</mat-label>
            <input formControlName="nombre" matInput placeholder="Placeholder">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Talla de la Prenda</mat-label>
            <input formControlName="talla" matInput placeholder="Placeholder">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Costo de la Prenda</mat-label>
            <input formControlName="costo" matInput type="number" placeholder="$$">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Cantidad de la Prenda</mat-label>
            <input formControlName="cantidad" matInput type="number" placeholder="Placeholder">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input formControlName="fecha" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
   

</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
    <button style="margin: left 8px; ;" mat-raised-button color="primary" mat-dialog-close (click)="guardarRopa()">Guardar</button>
</div>