<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example">
      <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>TIENDA DE ROPA CDCD</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialogo()">Agregar</button>

</mat-toolbar>
<div class="form-group">
  <input type="text" class="form-control" [(ngModel)]='searchTerm' (keyup)="search($event)" placeholder="Buscar Productos">
</div>
<span class="fas fa-search seacrh-icon"></span>
 

<div class="card-top container-fluid">

</div>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let p of data | filter:searchKey: 'tipo' ">
      <div class="card col-md-5">
        <img src="../../../assets/imagenes/logo-removebg-preview (2).png" alt="">
        <h5 >{{p.tipo}}</h5>
        <a>{{p.idropa}}</a>
        <p></p>
        <p></p>
        <button mat-icon-button (click)="editRopa(p)" color="primary">
          <mat-icon>edit</mat-icon>
        </button>  
        <button mat-icon-button (click)="deleteRopa(p)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>  
        
      </div>
    </ng-container>



  </div>
</div>