:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}

mat-drawer-container {
  height: 100%;
  background-color: white;
}

mat-drawer {
  background: #798fc2;
}

.logo {
  text-align: center;
  padding: 2.6rem ;
}

img {
  width: 200px;
  height: 100;
}
.mat-icon {
  vertical-align: center;
  margin-right: 1rem;
}

.mat-divider {
  border-top-width: 2px;
  border-color: white;
}

.mat-list-item {
  color: #94a3b8;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;

 /* ::ng-deep {
    .mat-list-item-content {
      border-radius: 5px;
      margin: 0.8px; &:hover {
        background: #2c3344 !important;
      }
    }
  }*/
}

.list-item-active {
  color: #f2f5f7; 
  /*::ng-deep {
    .mat-list-item-content {
      background: #2c33aa !important;

      &:hover {
        background: #2c3344 !important;
      }
    }*/

  }


.mat-subheader{
  color: #818cf8;
  font-size: 0.6rem;
  height: 44px !important;
  margin-bottom: 4px;
  letter-spacing: 1px;

}