<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6 offset-md-3">
        <mat-card class="text-center">
          <div class="container text-center">
            <img src="../../../assets/imagenes/logo-removebg-preview (2).png" />
          </div>
          <h1 class="text-center">Registro</h1>
          <form [formGroup]="signupForm">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input
                required
                formControlName="nombre"
                matInput
                placeholder="Escribir..."
              />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input
                required
                formControlName="contrasena"
                type="password"
                matInput
                placeholder="Escribir..."
              />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                required
                formControlName="email"
                matInput
                placeholder="Escribir..."
              />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Telefono</mat-label>
              <input
                required
                formControlName="telefono"
                matInput
                placeholder="Escribir..."
              />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Direccion</mat-label>
              <input
                required
                formControlName="direccion"
                matInput
                placeholder="Escribir..."
              />
            </mat-form-field>
            <div class="container text-center" class="mt20">
              <button
                (click)="register(signupForm.value)"
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="signupForm.invalid"
              >
                Registrarse
              </button>
              <button
                routerLink="/login"
                class="ml10"
                mat-raised-button
                color="accent"
              >
                Volver
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
