<!DOCTYPE HTML>
<html>

<head>
  <title>Tienda Online</title>
  <link href="/src/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
  <link href="/src/assets/css/style.css" rel='stylesheet' type='text/css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script src="/js/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".dropdown img.flag").addClass("flagvisibility");

      $(".dropdown dt a").click(function () {
        $(".dropdown dd ul").toggle();
      });

      $(".dropdown dd ul li a").click(function () {
        var text = $(this).html();
        $(".dropdown dt a span").html(text);
        $(".dropdown dd ul").hide();
        $("#result").html("Selected value is: " + getSelectedValue("sample"));
      });

      function getSelectedValue(id) {
        return $("#" + id).find("dt a span.value").html();
      }

      $(document).bind('click', function (e) {
        var $clicked = $(e.target);
        if (!$clicked.parents().hasClass("dropdown"))
          $(".dropdown dd ul").hide();
      });


      $("#flagSwitcher").click(function () {
        $(".dropdown img.flag").toggleClass("flagvisibility");
      });
    });
  </script>
</head>

<body>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="header-left">
            <div class="logo">
              <a href="index.html"><img src="images/logo.png" alt="" /></a>
            </div>
            <div class="menu">
              <a class="toggleMenu" href="#"><img src="images/nav.png" alt="" /></a>
              <ul class="nav" id="nav">
                
                <li><a routerLink="/carrito" routerLinkActive="list-item-active">
                   Productos
                </a></li>
                <li><a routerLink="/about" routerLinkActive="list-item-active">
                  Equipo
               </a></li>

                <div class="clear"></div>
                
              </ul>
              <script type="text/javascript" src="./js/responsive-nav.js"></script>
            </div>
            <div class="clear"></div>
          </div>
          <div class="header_right">

            <script src="./js/classie.js"></script>
            <script src="./js/uisearch.js"></script>
            <script>
              new UISearch(document.getElementById('sb-search'));
            </script>
            <ul class="icon1 sub-icon1 profile_img">
              <li><a class="active-icon c1" href="#"> </a>
                <ul class="sub-icon1 list">
                  <div class="product_control_buttons">
                    <a href="#"><img src="/images/edit.png" alt="" /></a>
                    <a href="#"><img src="/images/close_edit.png" alt="" /></a>
                  </div>
                  <div class="clear"></div>
                  <li class="list_img"><img src="images/1.jpg" alt="" /></li>
                  
                  <li class="list_desc">
                    <h4><a href="#">velit esse molestie</a></h4><span class="actual">1 x
                      $12.00</span>
                  </li>

                  <div class="login_buttons">
                    <div class="check_button"><a href="checkout.html">Check out</a></div>
                    <div class="login_button"><a href="login.html">Login</a></div>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                </ul>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="main">
    <div class="shop_top">
      <div class="container">
        <div class="row shop_box-top">



            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center mb-5">
                            <h2 class="heading-section">Carrito de Compras</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap">
                                <table class="table table-primary table-striped">
                                    <thead class="thead-dark">
                                      <tr>
                                        <th>Tipo</th>
                                        <th>Costo</th>
                                        <th>Nombre</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <ng-container *ngFor="let p of tablacarrito">
                                        <tr>
                                          <td>{{p.tipo}}</td>
                                          <td>{{p.costo}}</td>
                                          <td>{{p.nombre}}</td>
                                        </tr>
                                      </ng-container>
                                    </tbody>
                                    
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
            <div style="text-align:center ;">
                <form action="https://www.paypal.com" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="5LTC96HEVRWRA">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <meta http-equiv="refresh" content="https://www.paypal.com" />
                    <img alt="" border="0" src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" width="1" height="1">
                    </form>
            </div>
            


        </div>
      </div>
    </div>
  </div>



  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="footer_box">
            <h4>Categorías</h4>
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="#">Niño</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="footer_box">
            <h4>Sobre Nosotros</h4>
            <li><a href="#">Proyecto</a></li>
            <li><a href="#">Arquitectura</a></li>
            <li><a href="#">Equipo</a></li>
            <li><a href="#">Apis</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="footer_box">
            <h4>Correo Electrónico</h4>
            <div class="footer_search">
              <form>
                <input type="text" value="Ingresa tu email" onfocus="this.value = '';"
                  onblur="if (this.value == '') {this.value = 'Enter your email';}">
                <input type="submit" value="Ir">
              </form>
            </div>
            <ul class="social">
              <li class="facebook"><a href="#"><span> </span></a></li>
              <li class="twitter"><a href="#"><span> </span></a></li>
              <li class="instagram"><a href="#"><span> </span></a></li>
              <li class="pinterest"><a href="#"><span> </span></a></li>
              <li class="youtube"><a href="#"><span> </span></a></li>
            </ul>

          </ul>
        </div>
      </div>
      <div class="row footer_bottom">
        <div class="copy">
          <p>18-07-2022 <a href="http://w3layouts.com" target="_blank">Proyecto Integrador</a></p>
        </div>
        <dl id="sample" class="dropdown">
        </dl>
      </div>
    </div>
  </div>
</body>

</html>
