<<<<<<< HEAD
<<<<<<< HEAD
mat-form-field {
  width: 100%;
=======
mat-form-field{
    width: 100%;
>>>>>>> parent of 50c5786 (Pestaña productos terminada)
=======
mat-form-field {
  width: 100%;
>>>>>>> 7912b3992148ff9e740052ecdf7fe226ce111d98
}